<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>Smart Body Life</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>com.nataliia.smartbodylife</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>10.0</string>
    <key>CFBundleName</key>
    <string>Smart Body Life</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>3.0.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>10</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.healthcare-fitness</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    <key>NSCalendarsUsageDescription</key>
    <string>This app requires calendar access to help you schedule your body care activities and training sessions.</string>
    <key>NSCameraUsageDescription</key>
    <string>The app needs camera access for Bio-Scanning food items.</string>
    <key>NSHealthShareUsageDescription</key>
    <string>We need access to your health data to track your progress.</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>We need permission to save your fitness results to HealthKit.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>This app needs access to the microphone for voice features.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>The app needs access to the gallery to select photos.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>The app needs permission to save photos to the gallery.</string>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
</dict>
</plist>
